.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.cell {
  border: 1px solid rgb(230, 230, 230);
  padding: 0;
  flex: 1 0;
  display: flex;
  align-items: stretch;
}

.objectCell {
  border: 1px solid rgb(230, 230, 230);
  padding: 5px;
  flex: 1 0;
  display: flex;
  align-items: stretch;
}

.input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 0.5em;
  outline: none;
  display: flex;
  align-items: stretch;
}

.objectInput {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 0.5em;
  outline: none;
  overflow: hidden;
  font-size: 0.8em;
  display: flex;
  align-items: stretch;
}
.objectInput span {
  word-wrap: break-word;
  word-break: break-all;
}

.objectInput:focus {
  outline: none;
  background: rgb(242, 242, 242);
}

.input:focus {
  outline: none;
  background: rgb(242, 242, 242);
}

.rowDelete,
.colDelete {
  color: rgb(242, 242, 242);
  padding: 0;
  text-align: center;
}

.rowDelete {
  padding-left: 0.5em;
  display: flex;
  align-items: center;
}

.colDelete {
  padding-top: 0.5em;
  flex: 1;
  margin: 0 1rem;
}

.rowDelete>span,
.colDelete>span {
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  width: 1em;
  height: 3px;
  line-height: 1em;
  background: rgb(242, 242, 242);;
  align-items: center;
  justify-content: center;
}

.rowDelete>span:hover,
.colDelete>span:hover {
  background: #ff0000;
}

.dragHandle {
  cursor: ns-resize;
  font-size: 1.5em;
  display: block;
  opacity: 0.5;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 1rem 0 1rem 0;
  z-index: 1;
}

.dragHandle:hover {
  opacity: 1;
}

.dragHandle svg {
  font-size: inherit;
  display: block;
}
